.item {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  background-color: var(--todo-item-bg);
  border-radius: 5px;
}

.item:hover {
  background-color: var(--todo-item-bg-hover);
}

.button-done {
  width: 20px;
  height: 20px;
  padding: 1px;
  border: 1px solid var(--main-text);
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  color: var(--main-text);
}

.button-done:hover::before {
  color: var(--main-text);
  content: "✓";
}

.done span {
  text-decoration: line-through;
  color: var(--todo-item-done-color);
}

.done .button-done::before {
  content: "✓";
}

.text-container {
  display: flex;
  flex: auto;
  flex-direction: column;
  gap: 5px;
}

.date {
  font-size: 0.8em;
  color: var(--todo-item-date-color);
}

.button-important {
  width: 20px;
  height: 20px;
  padding: 1px;
  border: 1px solid var(--main-text);
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}

.important .button-important::before,
.button-important:hover::before {
  content: "!";
  color: var(--main-text);
}
