.item {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
}

.item:hover {
  background-color: #e0e0e0;
}

.button-done {
  width: 20px;
  height: 20px;
  padding: 1px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}

.button-done:hover::before {
  content: "✓";
}

.done span {
  text-decoration: line-through;
}

.done .button-done::before {
  content: "✓";
}

.text-container {
  display: flex;
  flex: auto;
  flex-direction: column;
  gap: 5px;
}

.date {
  font-size: 0.8em;
  color: #666;
}

.button-important {
  width: 20px;
  height: 20px;
  padding: 1px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}

.important .button-important::before,
.button-important:hover::before {
  content: "!";
}
