.calendar-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: clamp(300px, 20vw, 400px);
  margin: 10px;
  right: 0;
}

.button {
  background-color: var(--add-todo-bg);
  color: var(--main-text);
  width: 100%;
  padding: 10px;
  border: none;
}

.button:hover {
  background-color: var(--add-todo-bg-focus);
}
