.sidebar {
  width: 280px;
  height: 100vh;
  background-color: var(--alternate-bg);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search {
  padding: 20px 20px 0 20px;
  width: 100%;
}

.search input {
  width: 100%;
  padding: 6px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 14px;
  background-color: transparent;
  color: var(--main-text);
}

.menu {
  list-style: none;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menuItem {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.menuItem:hover {
  background-color: var(--menu-item-bg-hover);
}

.menuItemActive {
  background-color: var(--menu-item-bg-active);
}

.menuItemActive:hover {
  background-color: var(--menu-item-bg-active-hover);
}

.menuItem a {
  display: block;
  text-decoration: none;
  color: inherit;
}
