.add-todo-container {
  padding: 10px 10px;
  height: 10vh;
  margin: 10px 0;
  position: fixed;
  border-radius: 5px;
  left: 320px;
  bottom: 0;
  width: calc(100vw - 360px);
  display: flex;
  background-color: var(--add-todo-bg);
  color: var(--main-text);
}

.add-todo-container:has(.add-todo:focus) {
  background-color: var(--add-todo-bg-focus);
}

.add-todo {
  padding: 10px;
  border: none;
  width: 100%;
  background-color: transparent;
  color: inherit;
}

.add-todo:focus {
  outline: none;
}

.calendar-button {
  background-color: transparent;
  border: none;
  color: inherit;
}

.calendar-button:hover {
  background-color: transparent;
}
